{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Job Detail Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gy-5 gx-4">
                <div class="col-lg-8">
                    <div class="d-flex align-items-center mb-5">
                        <img class="flex-shrink-0 img-fluid border rounded" src="{{ announcement.image.url }}"
                             alt="img" style="width: 80px; height: auto;">
                        <div class="text-start ps-4">
                            <h3 class="mb-3">{{ announcement.name }}</h3>
                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>
                                Toshkent, O'zbekiston
                            </span>
                            <span class="text-truncate me-3">
                                <i class="fa fa-check text-primary me-2"></i>
                                E'lon
                            </span>
                            <span class="text-truncate me-3">
                                <i class="far fa-clock text-primary me-2"></i>
                                {{ announcement.created_at|date:"d-m-Y" }}
                            </span>
                        </div>
                    </div>
                    <div>
                        {{ announcement.content| safe }}
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                        <h4 class="mb-4">
                            {{ announcement.name }}
                        </h4>
                        <p>
                            <i class="fa fa-angle-right text-primary me-2"></i>
                            Sana: {{ announcement.created_at|date:"d-m-Y" }}
                        </p>

                        <p><i class="fa fa-angle-right text-primary me-2"></i>Turi: E'lon</p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Joylashuv: Toshkent, O'zbekiston</p>
                    </div>
                    <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                        <h4 class="mb-4">
                            Mutafakkir
                        </h4>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>
                            <a href="{% url 'main:page' 'tahrir_hayati' %}">
                                Tahrir hay'ati
                            </a>
                        </p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>
                            <a href="{% url 'main:page' 'kuzatuv_kegnashi' %}">
                                Kuzatuv kengashi
                            </a>
                        </p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>
                            <a href="{% url 'main:announcements' %}">
                                E'lonlar
                            </a>
                        </p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>
                            <a href="{% url 'main:newsletters' %}">
                                Jurnallar
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Job Detail End -->
{% endblock %}
